@import url('https://fonts.googleapis.com/css2?family=Bytesized&display=swap');

body {
    background:#414141;
}

.row {
    margin: 0px;
    flex-wrap:nowrap;
}

.searchSelect {
    font-family: "Bytesized", sans-serif;
    font-size: 20px;

    display:flex;
    justify-content: center;
    background:none;
}

.searchSelect input, .searchSelect select {
    height:2rem;
}


.pokedisplay {
    height:25.7rem;
}

.pokeimg {
    height:20rem;
}
.pokeimg img {
    width:20rem;
    image-rendering: pixelated;
}

p.stats {
    text-align:end;
    font-size:1.2rem;
}

img.carousel-img {
    max-height:25.7rem;
    margin:auto;
}